@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ql-size-12 {
  font-size: 12px;
}

.ql-size-16 {
  font-size: 16px;
}

.ql-size-24 {
  font-size: 24px;
}

.ql-size-28 {
  font-size: 28px;
}

.ql-size-32 {
  font-size: 32px;
}

.ql-size-40 {
  font-size: 40px;
}

.ql-size-48 {
  font-size: 48px;
}

.ql-size-56 {
  font-size: 56px;
}

.ql-size-64 {
  font-size: 64px;
}

.ql-size-72 {
  font-size: 72px;
}

.ql-size-80 {
  font-size: 80px;
}

.ql-size-96 {
  font-size: 96px;
}

.ql-size-128 {
  font-size: 128px;
}
